@charset "utf-8";

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JETBRAINSMONO-REGULAR.TTF') format('truetype') ;
}
@font-face {
    font-family: 'Calculator';
    src: url('./fonts/CALCULATOR.TTF') format('truetype');
}

/* reset global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

body{
    background-color: #2f2f2f;
}

/* container q possui a calculadora e o botao de showdown */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    left: 40%;
    top: 0;
    transition: .6s ease-in-out;
}


/* estilos do wraper da calculadora  */
.center{
    width: 330px;
    background-color: #3f3f3f;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    box-shadow: 1px 1px 5px rgb(39, 39, 39);
    z-index: 1;
}

h3{
    color: white;
    font-size: 1.8rem;
    user-select: none;
    text-shadow: 1px 2px 5px #252525;
}

h3 span{
    color: #fd7171;
    font-family: cursive;
    font-size: 1.5rem;
}

.expression{
    width: 100%;
}

/* input display da calculadora */
.expression input{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    padding: 1rem;
    font-size: 2.7rem;
    text-align: end;
    border: none;
    background-color: #b5babb;
    font-family: 'Calculator';
    color: #3f4242;
    cursor: default;
}

/* cor da seleção */
.expression input::selection{
    background-color: #f14646;
    color: white;
}

/* remove borda ao dar foco no input  */
.expression input:active, input:focus{
    outline: none;
    border: none;
}

.buttons{
    display: flex;
    gap: calc((335px - (4*60px)) / 7 );
    flex-wrap: wrap;
}

.buttons button{
    width: 60px;
    height: 60px;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    background-color: #666869;
    color: white;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    box-shadow: 1px 1px 10px rgb(46, 46, 46);
}

.buttons button:hover{
    background-color: #717576;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

.btn0{
    flex-grow: 1;
}

/* fonte do botao de backspace  */
.del{
    font-family: 'JetBrains Mono';
}


/* caracteres especiais  */
.espChar{
    background-color: #fd7171 !important;
}

.espChar:hover{
    background-color: #ff8888 !important;
}

.enter{
    background-color: #ff2b2b !important;
}

.enter:hover{
    background-color: #ff4343 !important;
}

.showdown{
    padding: .5rem 1rem;
    border: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 5px rgb(39, 39, 39);
    z-index: 0;
    background-color: #858585;
    cursor: pointer;
}

/* estilos das animações  */
.arrow{
    color: white;
    transition: .6s ease-in-out;
}

.rotation{transform: rotate(180deg)}

.position{top: -522px}